##############################################
# Created from template l4t.dockerfile.jinja
##############################################
ARG OVERLAY=/opt/ros/adi_ros2
ARG WORKSPACE=/adi_ros2_ws

###########################################
# ROS2 Base Stage
###########################################
FROM {{ base_image }}:{{ image_version }} AS ros-base

ENV DEBIAN_FRONTEND=noninteractive

{% include 'snippets/language.jinja' %}

{% include 'snippets/timezone.jinja' %}

# Install common programs
RUN apt-get update && apt-get install -y --no-install-recommends \
    ca-certificates \
    curl \
    dirmngr \
    gnupg2 \
    lsb-release \
    software-properties-common \
    sudo \
    wget \
  && rm -rf /var/lib/apt/lists/*

# Install and Setup ROS2
RUN sudo add-apt-repository universe \
  && curl -sSL https://raw.githubusercontent.com/ros/rosdistro/master/ros.key -o /usr/share/keyrings/ros-archive-keyring.gpg \
  && echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/ros-archive-keyring.gpg] http://packages.ros.org/ros2/ubuntu $(. /etc/os-release && echo $UBUNTU_CODENAME) main" | sudo tee /etc/apt/sources.list.d/ros2.list > /dev/null \
  && apt-get update \
  && apt-get install -y --no-install-recommends \
    ros-{{ ros_distro }}-ros-base \
  && rm -rf /var/lib/apt/lists/*

{% include 'snippets/ros2_entrypoint.jinja' %}

# Install ROS2 bootstrapping tools
RUN apt-get update && apt-get install -y --no-install-recommends \
    bash-completion \
    build-essential \
    cmake \
    gdb \
    git \
    openssh-client \
    python3-argcomplete \
    python3-colcon-common-extensions \
    python3-colcon-mixin \
    python3-pip \
    python3-rosdep \
    python3-vcstool \
    ros-{{ ros_distro }}-ament-* \
    ros-dev-tools \
  && rm -rf /var/lib/apt/lists/*

# Setup rosdep
RUN apt-get update && apt-get install -y --no-install-recommends \
  && rosdep init || echo "rosdep already initialized" \
  && rosdep update --rosdistro {{ ros_distro }} || echo "rosdep already updated" \
  && rm -rf /var/lib/apt/lists/*

# Setup colcon mixin and metadata
RUN colcon mixin add default https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml && \
    colcon mixin update && \
    colcon metadata add default https://raw.githubusercontent.com/colcon/colcon-metadata-repository/master/index.yaml && \
    colcon metadata update

ENV DEBIAN_FRONTEND=
ENV ROS_DISTRO={{ ros_distro }}

###########################################
# Base stage: ADI ROS2 pacakges
###########################################
FROM ros-base AS base

ARG OVERLAY
ARG WORKSPACE

ENV OVERLAY=$OVERLAY
ENV WORKSPACE=$WORKSPACE

ENV DEBIAN_FRONTEND=noninteractive

{% include 'snippets/system_dependencies.jinja' %}

{% include 'snippets/source_builds.jinja' %}

# Install overlay dependencies
WORKDIR $WORKSPACE
COPY docker/adi_ros2-{{ ros_distro }}.yml $WORKSPACE/adi_ros2-{{ ros_distro }}.yml
COPY docker/Makefile $WORKSPACE/Makefile
RUN . /opt/ros/$ROS_DISTRO/setup.sh \
  && apt-get update \
  && make clone \
  && make deps \
  {%- if 'l4t' in base_image and ros_distro == 'humble' %}
  && apt install -y --allow-downgrades libopencv-dev=4.5.4+dfsg-9ubuntu4 \
  {% endif -%}
  && rm -rf /var/lib/apt/lists/*

# Build ADI ROS2 packages from source
RUN . /opt/ros/{{ ros_distro }}/setup.sh \
  && make build-system \
      EXECUTOR=sequential \
      OVERLAY=${OVERLAY} \
  && make clean-build \
  && rm -rf /var/lib/apt/lists/*

RUN if [ -f "${OVERLAY}/setup.bash" ]; then \
  sed --in-place --expression '$isource "$OVERLAY/setup.bash"' /ros_entrypoint.sh; \
  fi

ENV DEBIAN_FRONTEND=

###########################################
#  Full Stage: ADI Robotics SDK
###########################################
FROM base AS full

ENV ROS_DISTRO={{ ros_distro }}

ENV DEBIAN_FRONTEND=noninteractive
# 3rd party ROS2 packages
RUN apt-get update && apt-get install -y --no-install-recommends\
    ros-{{ ros_distro }}-navigation2 \
    ros-{{ ros_distro }}-nav2-bringup \
    ros-{{ ros_distro }}-slam-toolbox \
    ros-{{ ros_distro }}-canopen \
  && rm -rf /var/lib/apt/lists/*

ENV DEBIAN_FRONTEND=
