##############################################
# Created from template adi_ros2.dockerfile.jinja
##############################################
ARG OVERLAY=/opt/ros/adi_ros2
ARG WORKSPACE=/adi_ros2_ws

###########################################
# Base stage: ADI ROS2 pacakges
###########################################
FROM {{ base_image }}:{{ image_version }} AS base

ARG OVERLAY
ARG WORKSPACE

ENV OVERLAY=$OVERLAY
ENV WORKSPACE=$WORKSPACE

ENV DEBIAN_FRONTEND=noninteractive

{% include 'snippets/system_dependencies.jinja' %}

{% include 'snippets/source_builds.jinja' %}

# Install overlay dependencies
WORKDIR $WORKSPACE
COPY ./docker/adi_ros2-{{ ros_distro }}.yml $WORKSPACE/adi_ros2-{{ ros_distro }}.yml
COPY ./docker/Makefile $WORKSPACE/Makefile
RUN . /opt/ros/$ROS_DISTRO/setup.sh \
  && apt-get update \
  && make clone \
  && make deps \
  && rm -rf /var/lib/apt/lists/*

# Build ADI ROS2 packages from source
RUN . /opt/ros/{{ ros_distro }}/setup.sh \
  && make build-system \
      EXECUTOR=sequential \
      OVERLAY=${OVERLAY} \
  && make clean-build \
  && rm -rf /var/lib/apt/lists/*

RUN if [ -f "${OVERLAY}/setup.bash" ]; then \
  sed --in-place --expression '$isource "$OVERLAY/setup.bash"' /ros_entrypoint.sh; \
  fi

ENV DEBIAN_FRONTEND=

###########################################
#  Full Stage: ADI Robotics SDK
###########################################
FROM base AS full

ENV DEBIAN_FRONTEND=noninteractive
# 3rd party ROS2 packages
RUN apt-get update && apt-get install -y --no-install-recommends\
    ros-{{ ros_distro }}-navigation2 \
    ros-{{ ros_distro }}-nav2-bringup \
    ros-{{ ros_distro }}-slam-toolbox \
    ros-{{ ros_distro }}-canopen \
  && rm -rf /var/lib/apt/lists/*

ENV DEBIAN_FRONTEND=

###########################################
#  Desktop image
###########################################
FROM full AS desktop

ENV DEBIAN_FRONTEND=noninteractive
# Install the desktop release
RUN apt-get update && apt-get install -y \
    ros-{{ ros_distro }}-desktop \
  && rm -rf /var/lib/apt/lists/*

ENV DEBIAN_FRONTEND=
