[submodule "src/iio_ros2"]
	path = src/iio_ros2
	url = https://github.com/analogdevicesinc/iio_ros2.git
	branch = humble
[submodule "src/imu_ros2"]
	path = src/imu_ros2
	url = https://github.com/analogdevicesinc/imu-ros2.git
	branch = humble
[submodule "src/tmcl_ros2"]
	path = src/tmcl_ros2
	url = https://github.com/analogdevicesinc/tmcl_ros2.git
	branch = humble
[submodule "src/adi_3dtof_adtf31xx"]
	path = src/adi_3dtof_adtf31xx
	url = https://github.com/analogdevicesinc/adi_3dtof_adtf31xx.git
[submodule "src/dependencies/libaditof"]
	path = src/dependencies/libaditof
	url = https://github.com/analogdevicesinc/libaditof.git
[submodule "src/adrd2121_imu_ros2"]
	path = src/adrd2121_imu_ros2
	url = https://github.com/analogdevicesinc/adrd2121_imu_ros2
	branch = humble
[submodule "src/adi_tmc_coe_ros2"]
	path = src/adi_tmc_coe_ros2
	url = https://github.com/analogdevicesinc/adi_tmc_coe_ros2.git
	branch = humble
[submodule "src/algorithms/adi_3dtof_safety_bubble_detector"]
	path = src/algorithms/adi_3dtof_safety_bubble_detector
	url = https://github.com/analogdevicesinc/adi_3dtof_safety_bubble_detector.git
	branch = humble-devel
[submodule "src/algorithms/adi_3dtof_floor_detector"]
	path = src/algorithms/adi_3dtof_floor_detector
	url = https://github.com/analogdevicesinc/adi_3dtof_floor_detector.git
	branch = humble-devel
